body {
  margin: 0;
  padding: 0;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
@-webkit-keyframes screw {
  0% {
    -webkit-transform: rotate(0deg);
  }
  72% {
    -webkit-transform: rotate(150deg);
  }
  80% {
    -webkit-transform: rotate(170deg);
  }
  90% {
    -webkit-transform: rotate(172deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}
.wrench {
  fill: #333333;
  transform-origin: 50% 10%;
  -webkit-animation: screw 1.5s linear alternate infinite;
}
